@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap");

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #e3e3e3;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
  padding-top: 2rem;
}

.header-content {
  max-width: 950px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.left {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  gap: 0.625rem;
}

.left img {
  height: 5.875rem;
  width: 1.938rem;
  margin: 5px;
}

.nav {
  display: none;
  flex-direction: row;
  justify-content: center;
  gap: 1.2rem;
  color: #718096;
}

@media screen and (min-width: 715px) {
  .nav {
    display: flex;
  }
}

.nav a {
  color: #718096;
  font-weight: 600;
  transform: color 0.1s;
}

.nav a:hover {
  color: var(--link-color);
}

.nav-links {
  color: #7e8691;
}

.contact-button {
  border: none;
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 600;
  display: none;
}
@media screen and (min-width: 715px) {
  .contact-button {
    display: flex;
  }
}
.contact-button:hover {
  background-color: var(--accent-color);
}

.menu-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.menu-button {
  display: none;
  border: none;
  border-radius: 0.375;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--background-color);
}

@media screen and (max-width: 715px) {
  .menu-button {
    display: flex;
  }
}

.hero-section {
  margin: 2.2rem auto;
  max-width: 950px;
  width: 100%;
  display: flex;
  gap: 5px;
  /* border: 1px solid black; */
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  /* height: 480px; */
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  width: 55%;
  padding: 5px;
  text-align: left;
  animation: slidefromleft 1.3s ease forwards;
}

@keyframes slidefromleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.left-content {
  font-size: 1.1rem;
}

.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
  height: 400px;
}

.content-right img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.para-first {
  font-size: 1.2rem;
  color: var(--accent-color);
  font-weight: 520;
}

.para-second {
  color: #718096;
  font-size: 1.1rem;
  margin: 15px 0px;
}

.button-content .start-now {
  border: none;
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 600;
}

.button-content .Take-tour {
  border: none;
  border-radius: 0.375rem;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 600;
}

.button-content {
  display: flex;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 715px) {
  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .left-content {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .content-right {
    width: 80%;
  }

  .button-content {
    display: flex;
    justify-content: center;
  }

  .para-first {
    margin: 0px auto;
  }
}

.trusted-container {
  display: flex;
  justify-content: center;
}

.trusted {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  display: inline-flex;
  margin: 1rem 0;
  /* border: 1px solid black; */
  padding: 13px 17px;
  color: var(--dark-gray);
  background-color: var(--light-gray);
  border-radius: 5px;
  font-weight: 550;
  animation: slidefromleft 1.3s ease forwards;
}

@keyframes slidefromleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.brand img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

#trusted-title {
  text-align: center;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 20px;
  padding: 1.5rem;
  background-color: rgba(171, 171, 171, 0.377);
}

.bottom-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  width: 300px;
  background: var(--accent-color);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 0 6px white;
}

.icon img {
  width: 50%;
  height: 100%;
}

.card-content{
  text-align: center;
}

.card-content h2 {
  margin-top: 10px;
  font-size: 20px;
  color: var(--background-color);
}

.card-content p {
  font-size: 16px;
  color: var(--background-color);
  padding: 9px 0px;

}

.affordable{
  background-color: rgba(255, 29, 67, 0.769);
}

.partner{
  background-color: rgba(255, 204, 0, 0.85);
}

.technology{
  background-color: rgba(0, 156, 153, 0.972);
}

.Responsive{
  background-color: rgba(0, 185, 0, 0.866);
}

.insights{
  background-color: rgba(128, 0, 128, 0.661);
}

@media screen and (min-width:1060px) {
  .bottom-content{
    width: 70%;
  }
}

.top-content{
  width: 65%;
}

.top-content p{
  color: var(--gray);
}

.testimonial-container{
  background-color: var(--background-color);
  text-align: center;
  margin-bottom: 20px;
}

.card-container{
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

#test-para{
  color: var(--text-color);
  font-weight: 520;
  
}

.testi-card{
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.196);
  box-shadow: 1px 1px 3px -2px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.testi-card img{
  width: 75px;
  height: 75px;
} 

.testi-card h3{
  color: var(--primary-color);
}

.testi-card p{
  color: var(--dark-gray);
} 

.testi-card:hover{
  box-shadow: 1px 1px 5px -1px black;
  transform: scale(1.02);
  transition: transform 0.5s ease;
}

h2,p{
  margin-bottom: auto;
}

.newsleter-container{
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

@media screen  and (max-width:840px) {
  .newsleter-container{
    flex-wrap:wrap ;
    gap: 15px;
  }
}

.left-img{
  width: 485px;
  height: 400px;
  /* margin-left: 60px; */
}

.left-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right-info{
  /* width: 500px;
  height: 400px; */
  box-sizing: border-box;
  width: 485px;
  height: 400px;
  background-color: rgba(173, 173, 173, 0.239);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  gap: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.right-info h1{
  color: var(--primary-color);
  font-weight: 740;
}

.right-info p{
  color: var(--dark-gray);
  font-weight: 550;
}

.tos{
  color: blue;
  text-decoration: underline;
}

.input-content input{
  padding: 7.5px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgba(192, 192, 192, 0.779);
  font-weight: 550;
}

.input-content button{
  padding: 8px 15px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--background-color);
  font-weight: 550;
}

.input-content button:hover{
  cursor: pointer;
}

.footer-container{
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.main-footer-content{
  /* max-width: 900px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-contents{
  display: flex;
  gap: 50px;
}

.left-contents{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15px;
  background-color: var(--background-color);
  gap: 15px;
}
.left-contents h1{
  font-size: 1.4em;
}

.data-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.data-content p{
  color: var(--dark-gray);
}

.title-content{
  display: flex;
  align-items: center;
}

.title-content img{
  height:  2rem;
  width: 2rem;
  margin: 5px;
}

.icon-content img{
  height:  2rem;
  width: 1.5rem;
  margin: 5px;
}

.right-contents{
  background-color: var(--background-color);
  padding: 15px 20px;
  display: flex;
  gap: 30px;
}

#invest-relat{
  display: flex;
  flex-direction: column;
}

#invest-relat a{
  margin: 0px;
}

.product-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.product-content h2{
  margin: 0px;
  font-size: 1.2em;
}

.product-content .main-content{
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-content .main-content a{
  color: var(--dark-gray);
  margin: 7px 0px;
}

.bottom-contents{
  width: 100%;
  border-top: 1.2px solid rgba(183, 183, 183, 0.578);
}

.bottom-contents p{
  text-align: center;
  color: var(--dark-gray);
  margin: 17px 0px;
}

